@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
    background-image: url('../images/notebook.png');
    background-position: fixed;
    font-family: "Oswald", sans-serif;
    color: #333;
}

.container {
    text-align: center;
}

.inner-content {
    margin-bottom: 30px;
}

.title {
    font-size: 11em;
}

.option {
    font-size: 4em;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

img {
    margin: 20px;
    height: 350px;
    width: 350px;
}

#send-button {
    width: 100%;
}

.navbar {
    border-radius: 0px;
    text-align: center;
    margin: 0px;
}
.navbar-nav {
    clear: both;
    float: none;
    display: inline-block;
    vertical-align: top;
}
ul.nav a {
    font-size: 2.8em;
    border-radius: 100px !important;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
ul.nav a:hover {
    background-color: rgb(150, 150, 150) !important;
    background-color: rgba(150, 150, 150, 0.3) !important;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.do-not-display {
    display: none;
}

.noresize {
  resize: none; 
}

/* specific styles for desktop */
@media screen and (min-width: 62em) {
    .inner-content {
        margin-bottom: 0;
    }

    .title {
        font-size: 8em;
    }

    .option {
        font-size: 2em;
    }

    img {
        margin: 20px;
        height: 180px;
        width: 180px;
    }

    .form-control {
        width: 80%;
        margin: auto;
    }

    .glyphicon {
        margin-right: 10%;
        visibility: hidden;
    }

    #send-button {
        margin: 30px 0px 10px;
        width: 250px;
    }

    ul.nav a {
        margin-top: 20px;
        font-size: 2em;
    }
}