@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
    background-image: url('../images/notebook.png');
    background-position: fixed;
    font-family: "Oswald", sans-serif;
    color: #333;
}

.container {
    text-align: center;
}
.title {
    font-size: 11em;
}

.option {
    font-size: 4em;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

img {
    margin: 20px;
    height: 350px;
    width: 350px;
}

.navbar {
    border-radius: 0px;
    text-align: center;
    margin: 0px;
}
.navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}
ul.nav a {
    font-size: 3em;
    border-radius: 100px !important;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
ul.nav a:hover {
    background-color: rgb(150, 150, 150) !important;
    background-color: rgba(150, 150, 150, 0.3) !important;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

/* specific styles for desktop */
@media screen and (min-width: 62em) {
    .title {
        font-size: 8em;
    }

    .option {
        font-size: 2em;
    }

    img {
        margin: 20px;
        height: 180px;
        width: 180px;
    }

    ul.nav a {
        font-size: 2em;
    }
}