@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
    background-image: url('notebook.png');
    background-position: fixed;
    font-family: "Oswald", sans-serif;
    color: #333;
}

.container {
    text-align: center;
}
.title {
    font-size: 80px;
}

.option {
    -webkit-animation-duration: 1.5s;
}

img {
    margin: 20px;
    height: 150px;
    width: 150px;
}

.navbar {
    border-radius: 0px;
    text-align: center;
    margin: 0px;
}
.navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}
ul.nav a {
    border-radius: 100px !important;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
ul.nav a:hover {
    background-color: rgb(150, 150, 150) !important;
    background-color: rgba(150, 150, 150, 0.3) !important;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}