body {
    background-image: url('notebook.png');
    background-position: fixed;
    font-family: 'Garamond';
    color: #333;
}

.container {
    text-align: center;
}
.title {
    font-size: 80px;
}
#main {
    width: 60%;
}

.option {
    -webkit-animation-duration: 1.5s;
}

img {
    margin: 20px;
    height: 150px;
    width: 150px;
}

.navbar {
    border-radius: 0px;
    text-align: center;
    margin: 0px;
}
.navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}