img.article-topper {
    width: 100%
}

img.in-article {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.postTop {
    text-align: center;
}

.container.content {
    max-width: 816px !important;
}
