---
title: About the Author
layout: layouts/page.njk
---

<div class="columns">
  <div class="column">
    <img src="/_images/about.png" alt="Image of the author standing at the Grand Canyon" />
  </div>
  <div class="column">
    <p>Hello! As you might have gathered, I'm Jeff.</p>
    <p>My partner Alexa and I have decided to take a year to travel around the world. This blog is an attempt of mine to
    document the journey. I'm a writer and a software engineer too, so posts around on those sorts of things will sometimes
    show up.</p>
  </div>
</div>
