---
layout: layouts/base.njk
---

<main class="section is-flex-grow-1">
  <article class="container content">

    {% if title %}
    <div class='postTop'>
      <h1>{{ title }}</h1>
    </div>
    {% endif %}

    {{ content | safe }}
  </article>
</main>
